:root {
  --c12: #000000;
  --c11: #121212;
  --c10: #2e2e2e;
  --c9: #404040;
  --c8: #595959;
  --c7: #707070;
  --c6: #999898;
  --c5: #b2b2b2;
  --c4: #cccbcb;
  --c3: #dedddd;
  --c2: #edecec;
  --c1: #f7f7f7;
  --c0: #ffffff;
  --p5: #332200;
  --p4: #664400;
  --p3: #a66e00;
  --p2: #e5a40b;
  --p1: #ffbb00;
}
.color-12 {
  color: var(--c12);
}
.color-11 {
  color: var(--c11);
}
.color-10 {
  color: var(--c10);
}
.color-9 {
  color: var(--c9);
}
.color-8 {
  color: var(--c8);
}
.color-7 {
  color: var(--c7);
}
.color-6 {
  color: var(--c6);
}
.color-5 {
  color: var(--c5);
}
.color-4 {
  color: var(--c4);
}
.color-3 {
  color: var(--c3);
}
.color-2 {
  color: var(--c2);
}
.color-1 {
  color: var(--c1);
}
.color-0 {
  color: var(--c0);
}
.color-p5 {
  color: var(--p5);
}
.color-p4 {
  color: var(--p4);
}
.color-p3 {
  color: var(--p3);
}
.color-p2 {
  color: var(--p2);
}
.color-p1 {
  color: var(--p1);
}
