/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
}
li a {
  color: inherit;
}
/* Component */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}
.btn {
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--p5);
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a60c);
  border-radius: 6px;
  max-width: max-content;
}
.btn:hover {
  background: linear-gradient(#f0b400, #c4860a);
}
.btn.secondary {
  background: var(--c10);
  color: var(--c4);
}
.btn.secondary:hover {
  background: var(--c9);
}
.btn.arrow {
  display: flex;
  align-items: center;
}
.btn.arrow::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background: url("../../assets/svg/icons/arrow.svg");
  transition: transform 0.2s;
}
.btn.arrow:hover::after {
  transform: translateX(4px);
}
.link {
  font: 600 1.125rem/1.33 "Poppins", sans-serif;
  text-transform: uppercase;
  color: var(--p1);
  transition: color 0.2s;
}
.link::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: currentColor;
}
.link:hover {
  color: var(--c0);
}
/* Intern pages titles */
.title-bg {
  background-color: var(--c11);
  padding: 60px 0px;
}
.title p {
  margin-bottom: 4px;
}
@media (max-width: 800px) {
  .btn {
    font-size: 1rem;
    padding: 12px 24px;
  }
  .link {
    font-size: 1rem;
  }
  .title-bg {
    padding: 40px 0px;
  }
  .title p {
    text-transform: lowercase;
    font-weight: 400;
  }
}
