.header-bg {
  background-color: var(--c12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
}
.navbar {
  display: flex;
  gap: 40px;
}
.navbar li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--c0);
  transition: width 0.3s;
}
.navbar li a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .navbar li a::after {
    display: none;
  }
  .navbar {
    gap: 20px;
  }
  .navbar li a {
    padding: 8px 12px;
    background-color: var(--c8);
    border-radius: 6px;
    transition: background-color 0.3s;
  }
  .navbar li a:hover {
    background-color: var(--c9);
  }
}
@media (max-width: 600px) {
  .header-bg {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
}
